.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.logo-text {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  color: #A4A6B3;
}
