.login-wrapper {
  position: relative;
  width: 360px;
  height: 67vh;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  color: #9FA2B4;
}

.login-title {
  color: #252733;
}

.logo-resizer {
  width: 150px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: blue;
  color: #fff
}
.error-message {
  text-align: center;
}

