.contacts-wrapper {
  min-height: 200px;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  background-color: #FFF;
  box-shadow:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12)
}

.contacts-add-contact-button {
  color: #3751FF;
  font-weight: 500;
  position: absolute;
  top: 37px;
  right: 32px;
  padding: 10px;
  border: none;
  background-color: transparent;
  z-index: 9;
}

.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}
